    <body>
     
        <div class="px-0 bg-info navbar-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar px-0 navbar-expand-lg navbar-light">
                            
                            <a class="navbar-brand" href="/index.php/user">
                                {$title}
                            </a>

                            <div class="collapse navbar-collapse" id="navbarsExample06">
                                <ul class="navbar-nav ml-auto">

                                    <li class="nav-item d-flex ">
                                        <a class="nav-link d-flex align-items-center icon" href="/index.php">
                                            
                                                <span>|</span>&nbsp;&nbsp;
                                            <i class="ion-ios-home">
                                            </i>&nbsp;回到主页&nbsp;&nbsp;<span>|</span>
                                            
                                        </a>
                                    </li>
                                  
                                          
                                    <li class="dropdown nav-item d-flex">
                                        <a class="dropdown-toggle nav-link d-flex align-items-center icon" data-toggle="dropdown" href="#">
                                                <span>|</span>&nbsp;欢迎！
                                            
                                            <i class="ion-ios-contact">
                                            </i></span>&nbsp;{if empty($info.name)}{$info.account}{else/}{$info.name}{/if}</span>&nbsp;<span>|</span>
                                            <span class="d-lg-none ml-2">
                                                Settings
                                            </span>
                                            
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                             <h6 class="dropdown-header">
                                            <a class="dropdown-item"  data-toggle="tab" href="#menu2">
                                                【{if empty($info.name)}{$info.account}{else/}{$info.name}{/if}】的主页
                                            </a>  
                                           </h6>
                                            <h6 class="dropdown-header">
                                              <a class="dropdown-item" href="/index.php/login/index/logout">
                                             退 出 登 陆
                                            </a>
                                            </h6>
                                             <h6 class="dropdown-header">
                                            <a class="dropdown-item"  data-toggle="tab" href="#home2">
                                                反 馈 信 息
                                            </a></h6>
                                           
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>